header, footer {
  background-color: #9debf5;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: DarkRed;
}

.post {
  background-color: LightGray;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post img {
  margin: 20px;
}

.footer-columns {
  display: flex
}

.footer-column {
  flex: 50%;
  margin: 20px;
}

.post-info {
color: grey;
}
